.ForgotPassword {
  justify-content: center;
}

.ForgotPassword .logo {
  width: 10rem;
}

.ForgotPassword form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40ch;
}

.ForgotPassword .login-input {
  margin-top: 1rem;
}

.ForgotPassword .login-submit {
  margin-top: 1rem;
}
