.ResetPassword {
  justify-content: center;
}

.ResetPassword .logo {
  width: 10rem;
}

.ResetPassword form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40ch;
}

.ResetPassword .login-input {
  margin-top: 1rem;
}

.ResetPassword .login-submit {
  margin-top: 1rem;
}
