.homePageHeadline {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.stepperPaper {
  width: 90%;
  height: 100%;
}

.topSteppersAvatar {
  margin: 1rem auto;
  height: 4rem;
}

.react-multi-carousel-track,
ul {
  margin-bottom: 15px;
  margin-top: 5px;
}
